nav {
  height: 20px;
  margin-bottom: 20px;
}

.PageLink {
  color: white;
  margin-right: 10px;
  position: relative;
  transition: 1s;
}
  
.PageLink::after {
  content: '';
  display: block;
  position: absolute;
  border-bottom: 1px solid #0190cd;
  left: 0;
  right: 0;
  margin: auto;
  width: 0;
  bottom: -2px;
  transition: 1s;
  display: flex;
}

.PageLink:hover::after {
  width: 100%;
  transition: 1s;
}

.ActivePageLink {
  transition: 1s;
  background: linear-gradient(to right,#ba7dff 20%, #00affa 30%, #0190cd 70%, #cc66ff 80%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-size: 500% auto;
  animation: iridescent 5s ease-in-out infinite alternate;
}

.ActivePageLink::after {
  content: '';
  display: block;
  position: absolute;
  border-bottom: 1px solid #0190cd;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  bottom: -2px;
  transition: 1s;
  display: flex;
}

@keyframes iridescent  {
  0% {background-position: 0% 50%;}
  100% {background-position: 100% 50%;}
}